<a href="https://colab.research.google.com/github/squadOito/soulcodead2/blob/wesley%2Fnotebook/fator_capacidade_mwh_2015_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Projeto Final**
Escola: SoulCode Academy

Curso: Bootcamp Analista de Dados - Martech - AD2

**Alunos: Adriano Kim, José Aurelio, Marcos Paulo, Paulo Vitorino e Renato Costa e Wesley Luiz**

Professores: Douglas Ribeiro, Franciane Rodrigues e Jonathas Carneiro

#**Perguntas de negócio**:

1) Qual o quadro atual de geração de energia elétrica no Brasil (disponibilidade por região)?

2) Diante do panorama atual, quais fontes apresentam maiores taxas de crescimento?

3) Quais as regiões que apresentam maior potencial de exploração de fontes de energia?

---

# Base de Dados Informações gerais

<br>O Operador Nacional do Sistema Elétrico (ONS) é o órgão responsável pela coordenação e controle da operação das instalações de geração e transmissão de energia elétrica no Sistema Interligado Nacional (SIN) e pelo planejamento da operação dos sistemas isolados do país, sob a fiscalização e regulação da Agência Nacional de Energia Elétrica (Aneel).

Fator de capacidade de usinas e conjuntos de usinas eólicos e solares despachados pelo ONS em base horária. O fator de capacidade é obtido pela relação entre a geração e a capacidade instalada das usinas.

Os dados presentes são dos anos de 01/01/2015 a 01/08/2023

********* REVISAR Obs.: descrever o PORQUE nao alteramos tanto o dicionario!!!


<br> Fontes:

https://dados.ons.org.br/dataset/fator-capacidade-2

https://www.ons.org.br/paginas/sobre-o-ons/o-que-e-ons

## **Dicionário de dados**

Obs.: descrever o PORQUE nao alteramos tanto o dicionario!!!

* id_subsistema - Identificador do subsistema
* nom_subsistema - Nome do subsistema
* id_estado - Sigla do Estado
* nom_estado - Nome do Estado
* nom_pontoconexao - Nome do ponto de conexão da
usina/conjunto
* nom_localizacao - Localização da usina/conjunto;
O conteúdo está disponível apenas
para Usinas da região Nordeste
* val_latitudesecoletora  - Latitude da usina/conjunto
* val_longitudesecoletora - Longitude da usina/conjunto
* val_latitudepontoconexao - Latitude do Ponto de Conexão
* val_longitudepontoconexao - Longitude do Ponto de Conexão
* nom_modalidadeoperacao - Modalidade de operação
* nom_tipousina - Tipo da usina
* nom_usina_conjunto - Nome da usina/conjunto
* din_instante  - Data e hora
* id_ons - Identificador da usina ou conjunto no
ONS
* ceg - Código Único do Empreendimento de
Geração (CEG), estabelecido pela
ANEEL
* val_geracaoprogramada - Geração Programada, em MWmed(relação entre a eletricidade gerada em MWh e o tempo de funcionamento das instalações).
* val_geracaoverificada - Geração Verificada, em MWmed(relação entre a eletricidade gerada em MWh e o tempo de funcionamento das instalações).
* val_capacidadeinstalada - Capacidade instalada, em MW(MegaWatts)
* val_fatorcapacidade - Fator de capacidade, obtida pela
relação entre a geração e a capacidade
instalada


> fonte:
*  https://dados.ons.org.br/dataset/fator-capacidade-2/resource/142f9c3b-4feb-492e-a0b4-bce97f059fca

# Extração
A primeira etapa da ETL é a extração dos dados de sua fonte original. Dependendo do tipo de dados e da fonte, você pode precisar de diferentes ferramentas e técnicas para extrair os dados.

## Instalações de Bibliotecas
Instalações e importações das bibliotecas necessárias para o processo de ETL.

In [1]:
!pip install gcsfs

In [ ]:
!pip install pandera

In [3]:
# Importando Bibliotecas pré instaladas
import os
import pandas as pd
import numpy as np
import pandera as pa
from google.cloud import storage
from google.colab import drive

In [4]:
# Ignorando alguns alertas desnecessários
import warnings
warnings.filterwarnings("ignore")

In [5]:
# Configuração da quantidade de colunas para aparecer em um DataFrame
pd.set_option('display.max_columns',100)

In [6]:
# Conexão com a conta do Google Cloud
serviceAccount = '/content/projeto-final-ad2-e8-ae566c3a2c2b.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [7]:
# Conexão com a bucket do Google Cloud

client = storage.Client()
bucket = client.get_bucket('projeto-final-ad2-e8')
bucket.blob('FATOR_CAPACIDADE_2015a2023_bruto.csv')
path = 'gs://projeto-final-ad2-e8/dados/brutos/csv/FATOR_CAPACIDADE_2015a2023_bruto.csv'

In [9]:
# Leitura e configuração dos arquivos extraidos
df_fator_cap = pd.read_csv(path,
                 sep=';',
                 encoding='UTF-8')

## Pré Análise

In [ ]:
# Visualização geral
df_fator_cap

In [11]:
# Visualização de forma aleatoria
df_fator_cap.sample(3)

,id_subsistema,nom_subsistema,id_estado,nom_estado,nom_pontoconexao,nom_localizacao,val_latitudesecoletora,val_longitudesecoletora,val_latitudepontoconexao,val_longitudepontoconexao,nom_modalidadeoperacao,nom_tipousina,nom_usina_conjunto,id_ons,ceg,din_instante,val_geracaoprogramada,val_geracaoverificada,val_capacidadeinstalada,val_fatorcapacidade
635567,NE,Nordeste,BA,BAHIA,U.SOBRADINHO - 230 kV (A),Interior,-9.856667,-41.090000,-9.436083,-40.829167,Conjunto de Usinas,Eólica,Conj. Pedra Branca,CJU_BAPBR,-,2016-07-16 02:00:00,180.0,50.211,248.915,0.201719
5678896,NE,Nordeste,RN,RIO GRANDE DO NORTE,LAGOA NOVA II - 69 kV (A),Interior,-6.039104,-36.489338,-6.060491,-36.524827,Conjunto de Usinas,Eólica,Conj. Calango 2,CJU_RNCA2,-,2021-09-09 19:00:00,68.5,70.000,90.000,0.777778
1526345,NE,Nordeste,RN,RIO GRANDE DO NORTE,LAGOA NOVA II - 69 kV (A),Interior,-6.039539,-36.489331,-6.060491,-36.524827,Conjunto de Usinas,Eólica,Conj. Calango 3,CJU_RNCA3,-,2017-11-03 05:00:00,73.5,57.691,84.000,0.686798

In [12]:
# Tamanho total de (linhas , colunas)
df_fator_cap.shape

(8622780, 20)

In [13]:
# Todos os tipos de dados presentes
df_fator_cap.dtypes

id_subsistema                 object
nom_subsistema                object
id_estado                     object
nom_estado                    object
nom_pontoconexao              object
nom_localizacao               object
val_latitudesecoletora       float64
val_longitudesecoletora      float64
val_latitudepontoconexao     float64
val_longitudepontoconexao    float64
nom_modalidadeoperacao        object
nom_tipousina                 object
nom_usina_conjunto            object
id_ons                        object
ceg                           object
din_instante                  object
val_geracaoprogramada        float64
val_geracaoverificada        float64
val_capacidadeinstalada      float64
val_fatorcapacidade          float64
dtype: object

In [14]:
# Contagem de observações para cada coluna
df_fator_cap.count()

id_subsistema                8622780
nom_subsistema               8622780
id_estado                    8622780
nom_estado                   8622780
nom_pontoconexao             8553255
nom_localizacao              7420235
val_latitudesecoletora       8610132
val_longitudesecoletora      8610132
val_latitudepontoconexao     8485411
val_longitudepontoconexao    8485411
nom_modalidadeoperacao       8622780
nom_tipousina                8622780
nom_usina_conjunto           8622780
id_ons                       8622780
ceg                          8622780
din_instante                 8622780
val_geracaoprogramada        8278267
val_geracaoverificada        8622780
val_capacidadeinstalada      8578982
val_fatorcapacidade          8622780
dtype: int64

In [ ]:
# Informações detalhadas
df_fator_cap.info()

In [ ]:
# Fazendo um relatório para mostrar os valores únicos de cada atributo.
# O for vai garantir que a atividade seja feita automaticamentepara todos os atributos

for coluna in df_fator_cap:
    valor = (df_fator_cap[coluna].unique())
    print("-"*70)
    msg = f"Valores únicos para o atributo {coluna}:"
    print(f"{msg:^70}")
    print("-"*70)
    print(f"\n{valor}\n")
    print("-"*70)

# Transformação
Aqui os dados extraídos precisam ser transformados em um formato adequado para análise, e para isso deve seguir alguns passos, que podem precisar serem repetidos ao longo do processo de análise.

## Limpeza de Dados
Remover dados duplicados, corrigir erros de digitação, tratar dados inconsistentes etc.

In [ ]:
# Verificar se há valores duplicados
df_fator_cap.duplicated()

In [ ]:
# Verificar se há valores nulos/ausentes
df_fator_cap.isnull().sum()

In [ ]:
# Descartando colunas
# df.drop(['coluna1',], axis=1, inplace=True)

In [58]:
df_fator_cap_backup = df_fator_cap.copy()

## Normalização de Dados
Colocar os dados em um formato padronizado para facilitar a análise.

### Tipagem

In [12]:
# criando um dataset para validar a tipagem
df_data_alterada = df_fator_cap_backup.copy()

In [13]:
# Convertendo para data e hora, preservando as horas
df_data_alterada['din_instante'] = pd.to_datetime(df_data_alterada['din_instante'], exact=False)

In [ ]:
# Verificando se foi efetivado a alteração
df_data_alterada.info()

In [15]:
# Garantindo que a tipagem não modificou a informação do registro
df_fator_cap_backup.din_instante[10000]

'2015-01-13 14:00:00'

In [16]:
# Garantindo que a tipagem não modificou a informação do registro
df_data_alterada.din_instante[10000]

Timestamp('2015-01-13 14:00:00')

In [59]:
# Convertendo para data e hora, preservando as horas. No dataframe de backup
df_fator_cap_backup['din_instante'] = pd.to_datetime(df_fator_cap_backup['din_instante'], exact=False)

In [ ]:
# Verificando se foi efetivado a alteração
df_fator_cap_backup.dtypes

In [ ]:
# Realizando a tipagem das variaveis
# df.coluna1 = df.coluna1.astype(int)

## Tradução

In [60]:
# Renomeando/Traduzindo colunas
# df.rename(columns={'coluna1':'traducao',}, inplace=True)
df_fator_cap_backup.rename(columns={'din_instante':'data'}, inplace=True)

In [ ]:
# Examinando alteração
df_fator_cap_backup.dtypes

In [ ]:
# Renomeando/Traduzindo registros
# traducao = {
#    'registro1': 'TRADUCAO',
#    'registro2': 'TRADUCAO2',
#}
#df_2_2_backup.coluna1.replace(traducao,inplace=True)

In [ ]:
# Examinando se os registros foram alterados
# pd.unique(df.traducao)

## **Qualidade e integridade dos dados**

### **Validação da estrutura dos dados (schema)**

In [22]:
# Verifica se há qualquer valor nulo ou nao numerico(NaN)
df_fator_cap_backup.isna().any()

id_subsistema                False
nom_subsistema               False
id_estado                    False
nom_estado                   False
nom_pontoconexao              True
nom_localizacao               True
val_latitudesecoletora        True
val_longitudesecoletora       True
val_latitudepontoconexao      True
val_longitudepontoconexao     True
nom_modalidadeoperacao       False
nom_tipousina                False
nom_usina_conjunto           False
id_ons                       False
ceg                          False
data                         False
val_geracaoprogramada         True
val_geracaoverificada        False
val_capacidadeinstalada       True
val_fatorcapacidade          False
dtype: bool

In [61]:
# Preenche os valores NaN na coluna por 'NA'
df_fator_cap_backup['nom_pontoconexao'].fillna('NA', inplace=True)

In [64]:
# Preenche os valores NaN na coluna por 'NA'
df_fator_cap_backup['nom_localizacao'].fillna('NA', inplace=True)

In [65]:
# Preenche os valores NaN na coluna por '0'
df_fator_cap_backup['val_latitudesecoletora'].fillna(0.0, inplace=True)

In [66]:
# Preenche os valores NaN na coluna por '0'
df_fator_cap_backup['val_longitudesecoletora'].fillna(0, inplace=True)

In [67]:
# Preenche os valores NaN na coluna por '0'
df_fator_cap_backup['val_latitudepontoconexao'].fillna(0, inplace=True)

In [68]:
# Preenche os valores NaN na coluna por '0'
df_fator_cap_backup['val_longitudepontoconexao'].fillna(0, inplace=True)

In [69]:
# Preenche os valores NaN na coluna por '0'
df_fator_cap_backup['val_geracaoprogramada'].fillna(0, inplace=True)

In [70]:
# Interpola os valores na coluna e arredonda para duas casas decimais
df_fator_cap_backup.val_capacidadeinstalada = df_fator_cap_backup.val_capacidadeinstalada.interpolate().round(2)

In [ ]:
df_fator_cap_backup.dtypes

In [ ]:
df_fator_cap_backup.columns

In [ ]:
# Definindo o esquema de validação e o examinando
schema = pa.DataFrameSchema({
    'id_subsistema': pa.Column(pa.String),
    'nom_subsistema': pa.Column(pa.String),
    'id_estado': pa.Column(pa.String),
    'nom_estado': pa.Column(pa.String),
    'nom_pontoconexao': pa.Column(pa.String),
    'nom_localizacao': pa.Column(pa.String),
    'val_latitudesecoletora': pa.Column(pa.Float),
    'val_longitudesecoletora': pa.Column(pa.Float),
    'val_latitudepontoconexao': pa.Column(pa.Float),
    'val_longitudepontoconexao': pa.Column(pa.Float),
    'nom_modalidadeoperacao': pa.Column(pa.String),
    'nom_tipousina': pa.Column(pa.String),
    'nom_usina_conjunto': pa.Column(pa.String),
    'id_ons': pa.Column(pa.String),
    'ceg': pa.Column(pa.String),
    'data': pa.Column(pa.DateTime),
    'val_geracaoprogramada': pa.Column(pa.Float),
    'val_geracaoverificada': pa.Column(pa.Float),
    'val_capacidadeinstalada': pa.Column(pa.Float),
    'val_fatorcapacidade': pa.Column(pa.Float)
})

schema.validate(df_fator_cap_backup)

In [ ]:
df_fator_cap_backup.count()

## **Colunas Persistidas**

ATUALIZAR!!!!!!!!!!!!!!!!!!!!!!!!!!!

* ATUALIZAR!!!!!!

## Backup - Copia de segurança

In [75]:
# Backup para analise
df_fator_cap_tratado = df_fator_cap_backup.copy()

# Carregamento
Depois que os dados são extraídos e transformados adequadamente, eles estarão prontos para as análise, mas antes disso eles precisam ser carregados em um local de armazenamento adequado. Podendo ser um banco de dados SQL ou NoSQL, um sistema de armazenamento em nuvem, e para o caso de disponibilizar o projeto publicamente é ideal que ele seja colocar em uma pasta de datasets, diferenciando o arquivo bruto e o tratado.

In [76]:
# Upando para o Google Cloud

df_fator_cap_tratado.to_csv('gs://projeto-final-ad2-e8/dados/tratados/fator_capacidade_mwh_2015_2023.csv', index=False)

# Análise exploratória de dados.
- Descrição de dados: identificação dos tipos de variáveis, dimensões dos dados, valores extremos e estatísticas descritivas.
- Visualização dos dados: criação de gráficos, tabelas e outros tipos de visualização para entender a distribuição e a relação entre as variáveis.
- Identificação de padrões: identificação de padrões, tendências, correlações e outras relações entre as variáveis.
- Testes estatísticos: aplicação de testes estatísticos para confirmar ou refutar hipóteses sobre os dados.

## Instalações de bibliotecas
bibliotecas necessárias para a análise de dados que não haviam sido importadas anteriormente.

## **Estatisticas**

In [77]:
# Resumo de estatisticas descritivas
df_fator_cap_tratado.describe().round(2)

,val_latitudesecoletora,val_longitudesecoletora,val_latitudepontoconexao,val_longitudepontoconexao,val_geracaoprogramada,val_geracaoverificada,val_capacidadeinstalada,val_fatorcapacidade
count,8622780.00,8622780.00,8622780.00,8622780.00,8622780.00,8622780.00,8622780.00,8622780.00
mean,-10.51,-40.78,-10.48,-40.26,50.99,54.25,139.36,0.38
std,7.77,4.99,7.79,6.96,59.41,64.43,99.71,0.31
min,-33.47,-55.71,-33.47,-55.71,0.00,0.00,2.00,0.00
25%,-13.92,-42.61,-14.03,-42.63,10.50,9.67,70.00,0.10
50%,-7.96,-40.64,-8.03,-40.48,34.00,35.06,105.60,0.34
75%,-5.15,-36.58,-5.38,-36.91,68.50,73.98,183.60,0.64
max,0.00,0.00,0.00,0.00,759.50,2697.73,1020.36,12.19

In [ ]:
# Correlações de todas colunas quantitativas
df_fator_cap_tratado.corr()

In [ ]:
# Distribuição de frequencia
def distfreq(dados, classes=None):
    # Verifica se o número de classes foi fornecido como parâmetro, caso
    # contrário, determina automaticamente. Se o número de dados for menor
    # ou igual a 25, define 5 classes, caso contrário, a quantidade de classes
    # será a raiz quadrada do número de de dados
    if classes is None:
        if len(dados) <= 25:
            classes = 5
        else:
            classes = round(len(dados) ** 0.5 + 0.5)
    else:
        pass

    # Ordena os dados em ordem crescente
    dados = sorted(dados)
    # Calcula a amplitude (diferença entre o maior e o menor valor)
    amplitude = max(dados) - min(dados)
    # Calcula o intervalo entre as classes
    intervalo = amplitude / classes
    # Cria uma lista para armazenar os limites dos intervalos
    intervalos = [dados[0]]
    for i in range(classes):
        intervalos.append((intervalos[i] + intervalo))

    # Imprime o cabeçalho da tabela
    print("-" * 100)
    print(f'{"Valores":^19}|{"Frequência":^19}|{"Freq. Acumulada":^19}|'
        + f'{"Frequência %":^19}|{"Freq. Acumulada %":^19}')
    print("-" * 100)

    a = 0
    b = 0

    # Laço para calcular as frequências para cada classe
    for i in range(classes):
        a = 0
        teste = f'{intervalos[i]:.2f} ---- {intervalos[i+1]:.2f}'

        # Laço para contar quantos valores estão dentro do intervalo atual
        for j in range(len(dados)):
            if dados[j] < intervalos[i + 1] + 0.000001:
                a = a + 1
            else:
                pass

        # Imprime os valores da classe atual e suas frequências
        print(f'{teste:^19}|{a - b:^19}|{a:^19}|{((a - b) / len(dados)):^19.2%}|{((a) / len(dados)):^19.2%}')

        # Atualiza o valor de b para a próxima iteração
        b = a

        # Imprime uma linha separadora
        print("-" * 100)

    # Imprime o final da tabela discriminando o total geral
    print(f'{"Total Geral":^19}|{a:^19}|{"":^19}|{"100,00%":^19}|{"":^19}')
    print("-"*100)
    return

In [ ]:
# distfreq(df.loc[df.cidade == 'Londres']['preco_total'],154)

### Filtros e agrupamentos
Criar novas variáveis com base nos dados originais para permitir uma análise mais detalhada e avançada.

In [ ]:
# Filtros, agrupamentos

In [ ]:
filtro_2_2_Total = df_fator_cap_tratado.loc[df_fator_cap_tratado.grupo == 'Total']
filtro_2_2_Total

In [ ]:
filtro_2_2_sem_total = df_fator_cap_tratado.loc[df_fator_cap_tratado.grupo != 'Total']
filtro_2_2_sem_total

In [ ]:
filtro_2_2_sem_total[['grupo', 'total']]

In [ ]:
filtro_2_2_sem_total.loc[:,['ano', 'grupo']]

In [ ]:
# Quantidade de registros para cada grupo
df_2_2_backup.groupby('grupo')['total'].mean().sort_values(ascending=False)

grupo
Total                    158739.461997
Usinas Hidrelétricas      94826.566534
Biomassa                  14101.295956
Gás Natural               13855.010616
Usinas Eólicas            12854.442838
Derivados de Petróleo      7963.079034
PCH                        5130.946094
Carvão                     3257.530000
Outras                     2100.204987
Solar                      2057.791581
Usinas Nucleares           1990.000000
CGH                         602.594357
Name: total, dtype: float64

In [ ]:
# Examinando a comparação de algumas estatisticas
estatisticas_usinas = df_fator_cap_tratado.groupby(['grupo']).agg({'total': ['mean', 'median', 'count', 'sum']})
estatisticas_usinas.round(2)

                           total
                            mean     median count         sum
grupo
Biomassa                14101.30   14428.67    10   141012.96
CGH                       602.59     644.48    10     6025.94
Carvão                   3257.53    3275.74    10    32575.30
Derivados de Petróleo    7963.08    7682.69    10    79630.79
Gás Natural             13855.01   13169.81    10   138550.11
Outras                   2100.20    2193.56    10    21002.05
PCH                      5130.95    5088.48    10    51309.46
Solar                    2057.79    1366.45    10    20577.92
Total                  158739.46  159976.13    10  1587394.62
Usinas Eólicas          12854.44   13336.77    10   128544.43
Usinas Hidrelétricas    94826.57   96474.43    10   948265.67
Usinas Nucleares         1990.00    1990.00    10    19900.00

# Visualização

In [ ]:
!pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# Grafico que visualiza qual 'tipo de quarto' esta incluido em listagens com preços altos
df_2_2_backup.groupby('grupo').plot.barh()
plt.xlabel('ano')
plt.ylabel('total')
plt.title('Teste')
plt.show()

# Conclusão
Resumo das principais conclusões e insights obtidos a partir da análise exploratória, sugestões para próximos passos da análise ou possíveis ações a serem tomadas.